<!-- $Revision: 1.1 $ $Date: 2007/03/06 20:42:56 $ -->
<html><head>
<title>dest-unreach.org stylesheet</title>
<style type="text/css">
.frame { border-style:solid; border-width:4px; border-color:black; }
.shell { font-family:Courier;
      padding:2px; padding-left:6px; padding-right:6px;
      border-style:solid; border-width:1px; border-color:gray;
      color:lightgreen;  background-color:black;
}
</style>
</head>
<body>
</body>
</html>
